{% load static %}
<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Zerotype Website Template</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css">
</head>
<body>
	

	<div id="header">
         <div>
            <div style="display: none;" class="logo">
               <a href="/"></a>
            </div>
            <ul id="navigation">
               <li >
                  <a href="/">Home</a>
               </li>
               <li >
                  <a href="/pythonjob">Python Scheduler</a>
               </li>
               <li > 
                  <a href="/matillionjobs">Matillion Scheduler</a>
               </li>
               <li >
                  <a href="/Talendjob">Talend Scheduler</a>
               </li>
               <li class="active">
                  <a href="/CustomJobSee">CustomJob Scheduler</a>
               </li>
            </ul>
         </div>
      </div>

</body>
</html>